<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:outputLabel value="Mantenimiento Prueba Diagnostica" style="font-size: 40px;"/>
        <br/><br/>

        <h:form id="menu">
            <p:menubar>
                <p:menuitem value="Inicio" outcome="index"/>
                <p:menuitem value="Clientes" outcome="Clientes"/>
                <p:menuitem value="Productos" outcome="Productos"/>
            </p:menubar>
        </h:form>
        <br/><br/>

        <p:growl id="msg"/>

        <h:form>
            <p:commandButton value="Insertar Cliente" oncomplete="PF('add').show()" update=":agregar"/>
        </h:form>


        <p:dialog widgetVar="add" header="Agregar Cliente" resizable="false" showEffect="clip">
            <p:ajax event="close" listener="#{controllerCliente.limpiar()}" update=":agregar" />
            <h:form id="agregar">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Nombre" />
                    <p:inputText value="#{controllerCliente.cliente.nombre}" />

                    <p:outputLabel value="Apellido" />
                    <p:inputText value="#{controllerCliente.cliente.apellido}"/>

                    <p:outputLabel value="Direccion" />
                    <p:inputText value="#{controllerCliente.cliente.direccion}"/>

                    <p:outputLabel value="Fecha Nacimiento" />
                    <p:calendar value="#{controllerCliente.cliente.fecha_nacimiento}"/>

                    <p:outputLabel value="Telefono" />
                    <p:inputText value="#{controllerCliente.cliente.telefono}"/>

                    <p:outputLabel value="Email" />
                    <p:inputText value="#{controllerCliente.cliente.email}"/>
                </p:panelGrid>
                <br/>
                <center><p:commandButton value="Guardar" actionListener="#{controllerCliente.guardar()}"
                                         rendered="#{controllerCliente.cliente.id_cliente == 0}"
                                         update=":Datos :msg"
                                         oncomplete="PF('add').hide()"/></center>

                <center><p:commandButton value="Actualizar" actionListener="#{controllerCliente.editar()}"
                                         rendered="#{controllerCliente.cliente.id_cliente != 0}"                                         
                                         oncomplete="PF('add').hide()"
                                         update=":Datos :msg"/></center>
            </h:form>            
        </p:dialog>
        <br/>
        <p:outputLabel value="Listado de Clientes" style="font-size: 20px;"/>
        <h:form id="Datos">

            <p:dataTable value="#{controllerCliente.listaClientes}" var="c">
                <p:column headerText="Nombre">
                    <p:outputLabel value="#{c.nombre}" />
                </p:column>

                <p:column headerText="Apellido">
                    <p:outputLabel value="#{c.apellido}" />
                </p:column>

                <p:column headerText="Direccion">
                    <p:outputLabel value="#{c.direccion}" />
                </p:column>

                <p:column headerText="Fecha de Nacimiento">
                    <p:outputLabel value="#{controllerCliente.formatoFecha(c.fecha_nacimiento)}" />
                </p:column>

                <p:column headerText="Telefono">
                    <p:outputLabel value="#{c.telefono}" />
                </p:column>

                <p:column headerText="Email">
                    <p:outputLabel value="#{c.email}" />
                </p:column>

                <p:column headerText="Acciones">
                    <p:commandButton value="Editar" actionListener="#{controllerCliente.cargarId(c)}"
                                     update=":agregar"
                                     oncomplete="PF('add').show()"/>
                    <p:commandButton value="Eliminar" actionListener="#{controllerCliente.eliminar(c)}"
                                     update=":Datos :msg" />

                    <p:commandButton value="SP" actionListener="#{controllerCliente.sp()}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

